.chat-sidebar-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3px;
  border: 2px solid #C0C0C0;
}

.chat-sidebar-item {
  margin: .5rem 0rem;
}

h4{
  margin-top: 1rem;
  width: 4.6rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;;
}

.users-group{
  margin-top: 20px;
}

.users-group li{
  padding-top: 7px;
}

i{
  padding-right: 7px;
  color: #9E9E9E;
}

.chat-sidebar-item:hover {
  text-decoration: underline;
  cursor: pointer;
}

/* containers */
.choose-user{
  position: absolute;
  top:10%;
  left: 40%;
}

/* Search box */
.search-box{
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 13px;
  outline: 0;
}

