*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.menu-list {
    list-style: none outside none;
    text-align: center;
    display: flex;
}

.menu-item {
    margin-right: 1.9rem;
}

.navbar-title a, .menu-item a {
    text-decoration: none;
    color: black;
    transition: .1s ease-in;
}

.navbar-title a:hover {
    opacity: .7;
}

.menu-item a:hover {
    font-weight: 600;
}
