.navbar {
    padding: .5rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.navbar-title {
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.menu-list {
    list-style: none outside none;
    text-align: center;
}

.menu-item {
    display: inline-block;
}

.menu-item:not(:last-child) {
    margin-right: 1rem;
}

.navbar-title a, .menu-item a {
    text-decoration: none;
    color: black;
    transition: .1s ease-in;
}

.navbar-title a:hover {
    opacity: .7;
}

.menu-item a:hover {
    font-weight: 600;
}
